/*
  *Estilos para la ventana emergente de tu Extensión
*/

body{
 width: 200px;
 height:max-content;
 background: #ffffff;
 
}
.H1_welcome{
 color: rgb(177, 0, 153);
 text-align: center;
}
img{
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 25%;
}